@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

//header component styling
.home {
  width: 63.75rem;
  height: 86vh;
  margin: auto;
  padding: 1.5rem 1.5rem 1rem;
  &__title {
    @extend .sub-title;
    padding-bottom: 0.5rem;
  }
}
