//import font
@font-face {
  font-family: 'titilliumweb_light';
  src: url('../../assets/fonts/titilliumweb-light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'titilliumweb_regular';
  src: url('../../assets/fonts/titilliumweb-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'titilliumweb_semi';
  src: url('../../assets/fonts/titilliumweb-semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'titilliumweb_bold';
  src: url('../../assets/fonts/titilliumweb-bold.ttf') format('truetype');
  font-weight: 700;
}

//Fonts for text styles
.label {
  font-family: 'titilliumweb_light';
  font-size: 1rem;
  line-height: 1.25rem;
}

.body {
  font-family: 'titilliumweb_regular';
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.sub-title {
  font-family: 'titilliumweb_semi';
  font-size: 1.5rem;
  line-height: 2rem;
}

.title {
  font-family: 'titilliumweb_semi';
  font-size: 1.75rem;
  line-height: 2.25rem;
}
