@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.test {
  width: 63.75rem;
  margin: auto;
  padding: 0 1.5rem 1rem;
}
