@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.weather-data {
  width: 63.75rem;
  margin: auto;
  padding: 0 1.5rem 1rem;
  &__sub-title {
    padding-left: 1rem;
    @extend .sub-title;
  }
  &__title {
    padding-left: 1rem;
    @extend .title;
  }
}
