@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.weather-data {
  width: 63.75rem;
  margin: auto;
  padding: 1.5rem 1.5rem 1rem;
  &__sub-title {
    padding-left: 1rem;
    @extend .label;
    color: $grey;
  }
  &__title {
    padding-left: 1rem;
    @extend .sub-title;
    color: $dark;
    text-decoration: underline;
  }
}
